.git
node_modules
dist
.env
logs
*.log
tmp
.DS_Store
.vscode
coverage
*.local
*.md
.gitignore
.prettierignore
.prettierrc
.eslintrc.json
Dockerfile
docker-compose.yml
.dockerignore
vercel.json
prisma/migrations
uploads
