# Environment
NODE_ENV=

# Port
APP_NAME=
APP_PORT=
APP_HOST=
API_PREFIX=
API_VERSION=
APP_URL=

# Database - PostgreSQL
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_POOL_MIN=
DATABASE_POOL_MAX=
DATABASE_LOGGING=

# JWT Configuration
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
JWT_ISSUER=
JWT_AUDIENCE=

# Bscrypt
BCRYPT_SALT_ROUNDS=

# Rate Limiting
THROTTLE_TTL=
THROTTLE_LIMIT=

# Client
CLIENT_APP_URL=
CLIENT_APP_URL_2=

# CORS
CORS_ENABLED=
CORS_ORIGIN=

# Swagger
SWAGGER_ENABLED=
SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_PATH=

# Logging
LOG_LEVEL=
LOG_FORMAT=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Config send email
EMAIL_HOST=
EMAIL_SENDER=
EMAIL_APP_PASSWORD=
EMAIL_PORT=
EMAIL_SECURE=

# File Upload
MAX_FILE_SIZE=
UPLOAD_DEST=

# Security
HELMET_ENABLED=

# Rate Limiter for authentication
LOGIN_ATTEMPTS_WINDOW_SECONDS=
MAX_LOGIN_ATTEMPTS=